# AED

El analisis exploratorio de datos permite en la fase de "Entendimiento del Datos" de la metodologia CRISP - DM, comprender la naturaleza de los datos desde un punto de vista del negocio.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-manylinux_2_28_aarch64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-manylinux_2_28_aarch64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 3.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector as connector

In [6]:
# leer los datos de la tabla telco1

try:
    mydb = connector.connect(host='localhost', database='curso', user='root', passwd= 'curso123', use_pure='True')
    query = "select * from telco1_2024"
    df_telco_churn1 = pd.read_sql(query, mydb)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

NameError: name 'mydb' is not defined

In [ ]:
# leer los datos de la tabla telco2

try:
    mydb = connector.connect(host='localhost', database='curso', user='root', passwd= 'curso123', use_pure='True')
    query = "select * from telco2_2024"
    df_telco_churn2 = pd.read_sql(query, mydb)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
ls

Se puede obtener los datos no solo de una conexión a una base de datos sino a partir de un archivo csv

In [7]:
df_telco_churn1 = pd.read_csv('caso telco/telco1.csv', sep= ',', decimal = '.')

In [8]:
df_telco_churn2 = pd.read_csv('caso telco/telco2.csv', sep= ',', decimal = '.')

In [9]:
df_telco_churn1.columns = df_telco_churn1.columns.str.strip()

In [10]:
df_telco_churn2.columns = df_telco_churn2.columns.str.strip()

In [11]:
df_telco_churn2.columns

Index(['state', 'account', 'area_code', 'phone_number', 'international_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churn.'],
      dtype='object')

In [12]:
type(df_telco_churn1)

pandas.core.frame.DataFrame

In [13]:
df_telco_churn1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [14]:
df_telco_churn1.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No

In [15]:
df_telco_churn2.head()

,state,account,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn.
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

¿Qué tipo datos contienen las columnas?

In [16]:
df_telco_churn1.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [17]:
df_telco_churn2.dtypes

state                             object
account                            int64
area_code                          int64
phone_number                      object
international_plan                object
voice_mail_plan                   object
number_vmail_messages              int64
total_day_minutes                float64
total_day_calls                    int64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                    int64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                  int64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                   int64
total_intl_charge                float64
number_customer_service_calls      int64
churn.                            object
dtype: object

### ¿Seran los tipos adecuados?

Los tipos de datos que pueden existir en pandas son:

- int
- object
- float
- datetime

Para poder realizar un casting se utiliza el metodo astype()

Por ejemplo el tipo del campo SENIORCITIZEN  deberia ser object

In [ ]:
df_telco_churn1['SeniorCitizen'] = df_telco_churn1['SeniorCitizen'].astype('object')

In [ ]:
df_telco_churn1.dtypes

En Telco2, se puede apreciar la columa account, no importa que paresca número se debe convertir en object

In [ ]:
df_telco_churn2["account"] = df_telco_churn2["account"].astype('object')

In [ ]:
#si se quiere cambiar varias columnas
df_telco_churn2 = df_telco_churn2.astype({'account':'object', 'area_code':'object'})

In [ ]:
df_telco_churn2.dtypes

In [ ]:
# identificar el número de elementos de la base telco1
len(df_telco_churn1)

In [ ]:
# identificar el número de elementos de la base telco2
len(df_telco_churn2)

In [ ]:
type(df_telco_churn1)

In [ ]:
df_telco_churn1.shape

In [ ]:
df_telco_churn2.columns

In [ ]:
type(df_telco_churn2['voice_mail_plan'])

In [ ]:
df_telco_churn2.groupby('voice_mail_plan').size()

In [ ]:
voice_mail_plan_agrupado = df_telco_churn2.groupby('voice_mail_plan').size()

In [ ]:
voice_mail_plan_agrupado

In [ ]:
type(voice_mail_plan_agrupado)

#### Grafica variable cualitativa

Se utiliza graficos de barras

In [ ]:
voice_mail_plan_agrupado.plot.bar('voice_mail_plan')
plt.show()

In [ ]:
international_plan_agrupado = df_telco_churn2.groupby('international_plan').size()
international_plan_agrupado.plot.bar('international_plan')
plt.show()

In [ ]:
# Otra manera de representar en porcentaje
df_telco_churn2['international_plan'].value_counts(normalize=True)*100

In [ ]:
df_telco_churn2['international_plan'].value_counts()

**PREGUNTA** Como se distribuyen las variables de gender, PaymentMethod, StreamingTV concluya algunas caracteristicas

In [ ]:
df_telco_churn1.groupby('gender').size()

#### Grafica variable cuantitativa

Se utiliza graficos de histogramas

In [ ]:
df_telco_churn2['total_day_minutes'].hist(bins=100)
plt.show()

In [ ]:
df_telco_churn2['number_customer_service_calls'].hist(bins=10)
plt.show()

In [ ]:
df_telco_churn1['TotalCharges'].hist(bins=10)
plt.show()

In [ ]:
#graficando con seaborn
import seaborn as sns

In [ ]:
sns.histplot(data=df_telco_churn1, x = 'TotalCharges',bins=10 )
plt.show()

**Media**

Cual es la media de las variable cuantitativas de la variable df_telco_churn2.total_day_minutes, df_telco_churn1.TOTALCHARGES

In [ ]:
df_telco_churn2['total_day_minutes'].mean()

In [ ]:
df_telco_churn2[['total_night_calls','total_night_charge']].mean()

In [ ]:
# complete TOTALCHARGES

In [ ]:
df_telco_churn1['TotalCharges'].mean()

**Mediana**

Cual es la mediana de las variable cuantitativas de la variable df_telco_churn2.total_day_minutes, df_telco_churn1.TOTALCHARGES

In [ ]:
df_telco_churn2['total_day_minutes'].median()

In [ ]:
#complete TOTALCHARGES

In [ ]:
df_telco_churn1['TotalCharges'].median()

**Moda**

Cual es la moda de las variable cuantitativas de la variable df_telco_churn2.total_day_minutes, df_telco_churn1.TOTALCHARGES

In [ ]:
df_telco_churn2['total_day_minutes'].mode()

In [ ]:
df_telco_churn2['total_day_minutes'].hist(bins=1000)
plt.show()

In [ ]:
df_telco_churn1['TotalCharges'].mode()

In [ ]:
df_telco_churn1['TotalCharges'].hist(bins=100)
plt.show()

### Medidas de dispersión

In [ ]:
# Rango

In [ ]:
maximo = df_telco_churn1['TotalCharges'].max()

In [ ]:
minimo = df_telco_churn1['TotalCharges'].min()

In [ ]:
rango = maximo - minimo

In [ ]:
maximo

In [ ]:
minimo

In [ ]:
rango

In [ ]:
# Cuartiles
q1, q3 = np.percentile(df_telco_churn2['total_day_minutes'], [25,75])

In [ ]:
q1

In [ ]:
q3

In [ ]:
# Rango intercuartil

RIC = q3 - q1

In [ ]:
RIC

In [ ]:
# Varianza

df_telco_churn2['total_day_minutes'].var()

In [ ]:
# Desviacion Estandar

df_telco_churn2['total_day_minutes'].std()

In [ ]:
# Grafico Box plot

In [ ]:
df_telco_churn2.boxplot('total_day_minutes')
plt.show()

In [ ]:
sns.boxplot(data= df_telco_churn2['total_day_minutes'])
plt.show()

In [ ]:
df_telco_churn2.head(2).T

## AED entre varias variables

In [ ]:
# Entre variables cuantitativas correlacíon

In [ ]:
pd.plotting.scatter_matrix(df_telco_churn2[['total_day_minutes','total_day_charge']], alpha=0.5)
plt.show()

In [ ]:
pd.plotting.scatter_matrix(df_telco_churn2[['total_night_calls','total_night_charge']], alpha=0.2)
plt.show()

In [ ]:
pd.plotting.scatter_matrix(df_telco_churn2[['total_night_calls','total_night_charge', 'total_night_minutes']], alpha=0.2)
plt.show()

In [ ]:
sns.scatterplot(data = df_telco_churn2, x = 'total_night_charge', y = 'total_night_minutes')

In [ ]:
sns.scatterplot(data = df_telco_churn2, x = 'total_night_calls', y = 'total_night_minutes')

In [ ]:
corr_df = df_telco_churn2[['total_night_charge', 'total_night_minutes']].corr(method='pearson')

plt.figure(figsize=(5, 5))
sns.heatmap(corr_df, annot=True)
plt.show()

In [ ]:
corr_df = df_telco_churn2[['total_night_calls', 'total_night_minutes']].corr(method='pearson')

plt.figure(figsize=(7, 5))
sns.heatmap(corr_df, annot=True)
plt.show()

In [ ]:
df_telco_churn1.describe(include = 'all')

In [ ]:
df_telco_churn2.describe(include = 'all')

In [ ]:
df_telco_churn2.sample(4).head(4).T

### Analisis bivariado respecto de la variable objetivo

In [ ]:
df_telco_churn2.groupby(['churn.']).agg({'number_vmail_messages': 'mean', 'total_day_minutes': 'mean', 'total_day_calls': 'mean',  \
                                       'total_day_charge': 'mean', 'total_eve_minutes': 'mean', 'total_eve_calls': 'mean', \
                                        'total_eve_charge': 'mean', 'total_night_minutes': 'mean', 'total_night_calls': 'mean', \
                                        'total_night_charge': 'mean', 'total_intl_minutes': 'mean', 'total_intl_calls':'mean', \
                                        'total_intl_charge':'mean', 'total_intl_charge':'mean' \
                                       }) \
       .sort_values(['churn.'], ascending = True)

In [ ]:
df_telco_churn1.groupby(['Churn']).agg({'MonthlyCharges': 'mean', 'TotalCharges': 'mean'})  \
               .sort_values(['Churn'], ascending = True )

## Analisis bivariado entre variables categóricas

In [ ]:
df_telco_churn1.groupby(['MultipleLines','Churn'], dropna=False).agg({'TotalCharges':'mean'})

In [ ]:
df_telco_churn1.groupby(['Dependents','Churn'], dropna=False).agg({'TotalCharges':'mean'})

In [ ]:
df_telco_churn1.groupby(['StreamingMovies','Churn'], dropna=False).agg({'TotalCharges':'mean'})

## Data Profiling

In [ ]:
pip install ydata-profiling --user

In [ ]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [ ]:
profile = ProfileReport(df_telco_churn2, title="Profiling Report")

In [ ]:
profile